@model AmericaVirtualChallengue.Web.Models.ModelsView.ProductViewAPI

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />

    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" title="@Model.Name" style="width:300px;height:450px;max-width: 100%; height: auto;" />
        }
    </div>

    <div class="col-md-6">
        <dl>
            <dd>
                <h2>@Html.DisplayFor(model => model.Name)</h2>
            </dd>

            <dd>
                <h3>@Html.DisplayFor(model => model.Price)</h3>
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAvailabe)

                @Html.DisplayFor(model => model.IsAvailabe)
            </dt>
            <dt style="margin-top: 20px;">
                @foreach (var topic in Model.Topics)
                {
                    <div class="card mt-2">
                        <div class="card-body">
                            <h5 class="card-title">@topic.Description</h5>
                        </div>
                    </div>
                }
            </dt>
        </dl>
    </div>
</div>

<br clear="all" />

<div>
    @if (this.User.IsInRole("Admin"))
    {

        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index" class="btn btn-success">Back to Products</a>
</div>
