@model IEnumerable<AmericaVirtualChallengue.Web.Models.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Orders</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@if (Model.Any())
{
@*<table class="table">
        <thead>
            <tr>
                @if (this.User.IsInRole("Admin"))
                    {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
                    }
                <th>
                    @Html.DisplayNameFor(model => model.OrderDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lines)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
            <tr>
                @if (this.User.IsInRole("Admin"))
                        {
                <th>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </th>
                        }
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
                }
        </tbody>
    </table>*@




<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orders</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="OrdersTable">
                    <thead>
                        <tr>
                            @if (this.User.IsInRole("Admin"))
                {
                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                }
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lines)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @if (this.User.IsInRole("Admin"))
                                     {
                            <th>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </th>
                                }
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDateLocal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lines)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



}
else
{
<p>
    No orders found.
</p>
}

